#!/bin/bash
export CURRENT_PROJECT_ROOT="$(realpath "$(dirname "${BASH_SOURCE[0]}")")"
source "${CURRENT_PROJECT_ROOT}/../.envrc"

export PROJECT_NAME="$(basename ${CURRENT_PROJECT_ROOT})"
export PATH="${CURRENT_PROJECT_ROOT}:${PATH}"

export ANSIBLE_ROLES_PATH="${CURRENT_PROJECT_ROOT}/project-ansible/roles"

# Magic command to get ssh -A agent forwarding inside of tmux
# eval $(tmux show-env -s |grep '^SSH_')

export TARGET_CLUSTER=overrideme
export TARGET_CLUSTER_INSTANCE_COUNT=9
export TARGET_CLUSTER_INSTANCE_TYPE=i4i.16xlarge

export TARGET_CLIENT_CLUSTER=overrideme
export TARGET_CLIENT_INSTANCE_TYPE=c5a.4xlarge
export TARGET_CLIENT_INSTANCE_COUNT=16

export AMS_CLUSTER_NAME="${PROJECT_NAME}-ams"
export AMS_INSTANCE_TYPE=t3a.2xlarge

if [ -d "${CURRENT_PROJECT_ROOT}/venv" ]; then
  source ${CURRENT_PROJECT_ROOT}/venv/bin/activate
fi

export USER_PROFILE_ENTRIES_PER_DATUM_SIZE=6250000000
export USER_PROFILE_ENTRIES=$(( USER_PROFILE_ENTRIES_PER_DATUM_SIZE * 7 ))
export CAMPAIGN_ENTRIES=600000000

export FLUSH_SIZE=128K

# Set TARGET cluster
source "${CURRENT_PROJECT_ROOT}/project-config/g4_target"

echo "cluster: ${TARGET_CLUSTER}"
echo "client cluster: ${TARGET_CLIENT_CLUSTER}"
